
@{
    ViewBag.Title = "KendoUIGrid";
}
 <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/kendoUI.js"></script>
<script src="~/Scripts/kendo.all.min.js"></script>

<link href="~/Scripts/kendo.common.min.css" rel="stylesheet" />

<h2>KendoUIGrid</h2>

<div class="row">
    <div class="col-md-12">
        <div id="gridKendoUI"></div>
    </div>
</div>

